/** @format */

* {
	margin: 0;
}
.app {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: #e2e8f0;
}

.header {
	display: flex;
	justify-content: space-between;
	height: 70px;
	margin-bottom: -30px;
	background-color: #0c4a6e;
	color: white;
	padding: 10px;
}

.body_container {
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.left_container {
	display: flex;
	flex-direction: column;
	flex: 0.7;
	margin-right: 5px;
}

.cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.right_container {
	display: flex;
	flex-direction: column;
	flex: 0.3;
}
